<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
    <title>Express Blog App</title>
</head>
<body>
    <div class="ui fixed inverted left menu">    
        <div class="ui container">
            <div class="header item">
                <i class="icon js"></i>
                Express Blog App
            </div>
            <a href="/" class="item">Posts</a>
            <a href="/posts/new" class="item">New Post</a>
        </div>       
    </div>